Django>=4.2
django-cors-headers
djangorestframework
djangorestframework-simplejwt
python-dateutil
Pillow
python-decouple
django-filter
reportlab
gunicorn
whitenoise
psycopg2-binary
dj-database-url
cloudinary
django-cloudinary-storage